fastapi==0.110.1
numpy==1.26.4
onnx==1.16.0
onnxruntime==1.17.1
pillow==10.3.0
python-multipart==0.0.9
uvicorn==0.29.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1
torchvision==0.17.1